*{
    padding: 0;
    margin: 0;
    box-sizing: sans-serif;
    text-decoration: none;

}

.container{
    width: 100;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: #9feb93;
}

.container .hero{
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #9feb93;
    border-radius: 20px;
    box-shadow: -10px 10px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}

.hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;

}

.hero nav .logo{
    color: red;
    font-size: 45px;
    font-weight: bold;

}

.hero nav .nav-link a{
    color: #242424;
    margin-left: 40px;
    text-transform: capitalize;
    transition: 0.3s;
}



.hero nav .nav-link a:hover,
.hero nav .nav-links A:active{
    color: #801f82;
}

.hero .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.hero .content .div-text{
    width: 40%;

}

.hero .content .div-img{
    width: 40%;

}

.hero .content .div-img img{
    width: 100%;
}

.hero .content .div-text h1{
    margin-bottom: 20px;
    font-size: 50px;
    color: rgb(10, 9, 10);
    text-shadow: #801f82;
    text-decoration: solid;
}
.hero .content .div-text h4{
    color: #f508ba;
    font-size: 23px;
    margin-bottom: 10px;
}
.hero .content .div-text p{
    color: #044a4a;
    margin-bottom: 50px;
    font-size: 18px;
}
.hero .content .div-text .btn{
    padding: 15px 20px;
    background-color: #044a4a;
    border: 2px solid #044a4a;
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

.hero .content .div-text .btn:hover{
    color: #034d98;
    transition: 0.3s;
    background-color: transparent;
}

.soc-link{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
}
.soc-link a i{
    font-size: 25px;
    cursor: pointer;
    color: #5012e2;
    margin-bottom: 25px;
    transition: 0.4s;
}
.soc-link a i:hover{
    color: #feea04;
}
.hero .logo,
.hero .content .div-text h1,
.hero .content .div-text h4,
.hero .content .div-text .btn{
    position: relative;
    top: 50px;
    animation: slide-top .5s linear forwards;
    opacity: 0;
}
.hero .logo{
    animation-delay: 0.2s;
}
.hero .content .div-text h1{
    animation-delay: 0.5s;
}
.hero .content .div-text h4{
    animation-delay: 0.9s;
}
.hero .content .div-text .btn{
    animation-delay: 1.8s;
}
@keyframes slide-top{
    0%{
        top: 50px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

.hero .content .div-text p{
    position: relative;
    left: 100px;
    animation: slide-right .5s linear forwards;
    animation-delay: 1.3s;
    opacity: 0;
}

@keyframes slide-right{

    0%{
        left: 100px;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;

    }
    
}

.hero.content .div-img img{
    opacity: 0;
    transition: scale(0.8);
    animation: fade-img .5s linear forwards;
    animation-delay: 2.1s;
}

@keyframes fade-img{
    0%{
        opacity: 0;
        transform:  scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
} 
